/* Swiper */
.swiper-pagination-bullet {
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border-radius: 0;
  border: 1px solid $white-color;
  font-family: "CHbold";
  font-size: 25px;
  color: $white-color;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);

  @include mobile {
    width: 40px;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
  }

  &-active {
    color: $white-color;
    background: $primary-color;
    border-color: $primary-color;
  }
}

/* Project */
.project {
  &__sort {
    height: 31px;
    width: 240px;
    color: $black-color;
    background-color: $white-color;
    font-family: "CHbold";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.81px;
    display: table;

    @include mobile {
      width: 200px;
    }
    &-item {
      padding-top: 4px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }

  &__category {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: $black-color;
    font-family: "CHbold";
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.06px;
    padding: 27px 20px;
    text-align: center;

    @include adapt-lg {
      font-size: 18px;
      padding: 18px 20px;
    }

    @include adapt-medium {
      font-size: 16px;
    }

    @include adapt-small {
      height: 55px;
      margin: 0 15px;
    }

    @include mobile {
      height: 40px;
    }

    &:hover {
      color: $white-color;
      &::before {
        background-color: $primary-color;
      }
    }

    &-middle {
      margin: 0 20px;

      @include adapt-small {
        margin: 10px 15px;
      }
    }

    &.active {
      color: $white-color;
      &::before {
        background-color: $primary-color;
      }
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $white-color;
      border: 0;
      height: 100%;
      z-index: -1;
      transform: skewX(35deg);

      @include adapt-small {
        transform: none;
      }
    }

    &:first-child:before {
      left: -55px;

      @include adapt-small {
        left: 0;
      }
    }
    &:last-child:before {
      right: -55px;

      @include adapt-small {
        right: 0;
      }
    }
  }
}
