@font-face {
    font-family: "Arial Narrow";
    src: url("../fonts/arial-narrow-bold.woff") format("woff");
}
@font-face {
    font-family: "CHbold";
    src: url("../fonts/cooperhewitt-bolditalic.woff") format("woff");
}
@font-face {
    font-family: "CHmedium";
    src: url("../fonts/cooperhewitt-mediumitalic.woff") format("woff");
}
@font-face {
    font-family: "FreightBig";
    src: url("../fonts/FreightBig-Pro-Book.woff") format("woff");
}



/* Font Style */
$italic: italic;

/* Font Weight */
$light: 300; 
$regular: 400;
$medium: 500;
$semi-bold: 600;
$semi-bold-italic: 600i;
$bold: 700;