.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $white-color;
  z-index: 100;

  @include adapt-small {
    height: 61px;
  }

  &__inner {
    @include adapt-small {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
    }
  }

  &__logo {
    float: left;
    width: 16.666%;
    margin-top: 35px;
    padding-left: 35px;

    @include adapt-medium {
      width: 18.666%;
    margin-top: 14px;
    padding-left: 15px;
    }

    @include adapt-small {
      float: none;
      margin: 0;
      width: auto;
      padding: 0;
    }

    @include mobile {
      width: 50%;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.top {
  width: 80%;
  position: relative;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  padding: 0 73px;
  float: right;
  float: right;
  margin-left: 0px;

  @include adapt-medium {
    width: 76%;
    padding-left: 62px;
    padding-right: 20px;
    height: 60px;
  }

  @include adapt-small {
    display: none;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    background-color: $primary-color;
    border: 0;
    height: 100%;
    width: 100vw;
    z-index: -1;
    transform: skewX(35deg);
  }

  &__search {
    position: relative;
  }

  &__input {
    border: 0;
    background-color: inherit;
    color: $white-color;
    font-size: 16px;

    &::placeholder {
      color: $white-color;
      font-weight: 500;
    }
  }

  &__icons {
    height: 100%;
    width: 325px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 15px;
      background-color: $black-color;
      height: 100%;
      z-index: -1;
      transform: skewX(35deg);
    }
  }

  &__icon {
    color: $white-color;
    font-size: 18px;

    &-search {
      font-size: 28px;
      position: absolute;
      left: -40px;
      top: -4px;

      @include adapt-medium {
        font-size: 20px;
        left: -33px;
        top: 1px;
      }
    }
  }
}

.nav {
  position: relative;
    width: 74%;
    float: right;
    text-align: center;

    @include adapt-medium {
      width: 100%;
    }

    @include adapt-small {
      display: none;
    }


  &::before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: $black-color;
    border: 0;
    height: 100%;
    width: 100vw;
    z-index: -1;
    transform: skewX(35deg);
    @include adapt-medium {
      transform: none;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 967px;
    padding: 18px 0;
    margin: 0 auto;
   
  }

  &__link {
    display: flex;
    flex: 1 1 0;
    text-decoration: none;
    color: $white-color;
    font-family: "Arial Narrow";
    font-size: 16px;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 0.4px;
  }
}
