/* Utils */
/* Vendors */
/* Base */
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ::-webkit-scrollbar {
  width: 5px;
}

@media screen and (max-width: 1230px) {
  * ::-webkit-scrollbar {
    width: 0;
  }
}

* ::-webkit-scrollbar-track {
  background-color: #000;
}

* ::-webkit-scrollbar-thumb {
  background: #fd0032;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  margin-top: 131px;
}

@media screen and (max-width: 770px) {
  body {
    margin-top: 61px;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 45px 0;
  border: 0;
  background-color: #e5e5e5;
}

.breadcrumps {
  padding-top: 18px;
}

.breadcrumps__list {
  list-style-type: none;
  color: #adadad;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 575px) {
  .breadcrumps__list {
    font-size: 10px;
  }
}

li {
  display: inline-block;
  position: relative;
  padding-right: 2em;
  margin: 0;
}

li a {
  text-decoration: none;
  color: inherit;
}

li::after {
  content: ">";
  position: absolute;
  display: inline-block;
  right: 0;
  width: 2em;
  text-align: center;
}

li:last-child::after {
  content: "";
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination a {
  text-decoration: none;
  display: inline-block;
}

.pagination__item {
  color: #fff;
  display: table;
  width: 48px;
  height: 48px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.pagination__item:hover {
  background-color: #fd0032;
}

.pagination__item.active {
  background-color: #fd0032;
  color: white;
}

@media screen and (max-width: 770px) {
  .pagination__item {
    width: 30px;
    height: 30px;
  }
}

.pagination__center {
  display: table-cell;
  vertical-align: middle;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 38px;
}

@media screen and (max-width: 1230px) {
  .container {
    padding: 0 15px;
  }
}

@font-face {
  font-family: "Arial Narrow";
  src: url("../fonts/arial-narrow-bold.woff") format("woff");
}

@font-face {
  font-family: "CHbold";
  src: url("../fonts/cooperhewitt-bolditalic.woff") format("woff");
}

@font-face {
  font-family: "CHmedium";
  src: url("../fonts/cooperhewitt-mediumitalic.woff") format("woff");
}

@font-face {
  font-family: "FreightBig";
  src: url("../fonts/FreightBig-Pro-Book.woff") format("woff");
}

/* Font Style */
/* Font Weight */
/* Layout */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
}

@media screen and (max-width: 770px) {
  .header {
    height: 61px;
  }
}

@media screen and (max-width: 770px) {
  .header__inner {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
  }
}

.header__logo {
  float: left;
  width: 16.666%;
  margin-top: 35px;
  padding-left: 35px;
}

@media screen and (max-width: 990px) {
  .header__logo {
    width: 18.666%;
    margin-top: 14px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 770px) {
  .header__logo {
    float: none;
    margin: 0;
    width: auto;
    padding: 0;
  }
}

@media screen and (max-width: 575px) {
  .header__logo {
    width: 50%;
  }
}

.header__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top {
  width: 80%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 73px;
  float: right;
  float: right;
  margin-left: 0px;
}

@media screen and (max-width: 990px) {
  .top {
    width: 76%;
    padding-left: 62px;
    padding-right: 20px;
    height: 60px;
  }
}

@media screen and (max-width: 770px) {
  .top {
    display: none;
  }
}

.top::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  background-color: #fd0033;
  border: 0;
  height: 100%;
  width: 100vw;
  z-index: -1;
  -webkit-transform: skewX(35deg);
          transform: skewX(35deg);
}

.top__search {
  position: relative;
}

.top__input {
  border: 0;
  background-color: inherit;
  color: #fff;
  font-size: 16px;
}

.top__input::-webkit-input-placeholder {
  color: #fff;
  font-weight: 500;
}

.top__input:-ms-input-placeholder {
  color: #fff;
  font-weight: 500;
}

.top__input::-ms-input-placeholder {
  color: #fff;
  font-weight: 500;
}

.top__input::placeholder {
  color: #fff;
  font-weight: 500;
}

.top__icons {
  height: 100%;
  width: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.top__icons::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 15px;
  background-color: black;
  height: 100%;
  z-index: -1;
  -webkit-transform: skewX(35deg);
          transform: skewX(35deg);
}

.top__icon {
  color: #fff;
  font-size: 18px;
}

.top__icon-search {
  font-size: 28px;
  position: absolute;
  left: -40px;
  top: -4px;
}

@media screen and (max-width: 990px) {
  .top__icon-search {
    font-size: 20px;
    left: -33px;
    top: 1px;
  }
}

.nav {
  position: relative;
  width: 74%;
  float: right;
  text-align: center;
}

@media screen and (max-width: 990px) {
  .nav {
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
  .nav {
    display: none;
  }
}

.nav::before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: #000;
  border: 0;
  height: 100%;
  width: 100vw;
  z-index: -1;
  -webkit-transform: skewX(35deg);
          transform: skewX(35deg);
}

@media screen and (max-width: 990px) {
  .nav::before {
    -webkit-transform: none;
            transform: none;
  }
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  max-width: 967px;
  padding: 18px 0;
  margin: 0 auto;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  text-decoration: none;
  color: #fff;
  font-family: "Arial Narrow";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.intro__inner {
  padding-top: 35px;
  padding-bottom: 52px;
}

.intro__item {
  position: relative;
}

.intro__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.intro__title {
  position: absolute;
  bottom: 40px;
  left: 62px;
  color: #ffffff;
  font-family: "CHbold";
  font-size: 65px;
  font-weight: 700;
  line-height: 77px;
  text-transform: uppercase;
  letter-spacing: 1.63px;
  max-width: 648px;
}

@media screen and (max-width: 1230px) {
  .intro__title {
    font-size: 50px;
    width: 40%;
    line-height: 1.3;
    bottom: 23px;
    left: 31px;
  }
}

@media screen and (max-width: 990px) {
  .intro__title {
    width: 50%;
    left: 23px;
    font-size: 36px;
  }
}

@media screen and (max-width: 575px) {
  .intro__title {
    display: none;
  }
}

.intro__numbers {
  position: absolute;
  bottom: 21px;
  right: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 575px) {
  .intro__numbers {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: 0;
    left: 0;
    bottom: 5px;
  }
}

.intro__num {
  width: 48px;
  line-height: 48px;
  height: 48px;
  text-align: center;
  margin-left: 4px;
  border: 1px solid #fff;
  color: #ffffff;
  font-family: "CHbold";
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear, border-color 0.2s linear;
  transition: background-color 0.2s linear, border-color 0.2s linear;
}

@media screen and (max-width: 990px) {
  .intro__num {
    width: 40px;
    line-height: 40px;
    height: 40px;
    font-size: 20px;
  }
}

@media screen and (max-width: 575px) {
  .intro__num {
    width: 30px;
    line-height: 30px;
    height: 30px;
    font-size: 16px;
  }
}

.intro__num.active {
  background-color: #fd0032;
  border-color: #fd0032;
}

.intro__num:hover {
  background-color: #fd0032;
  border-color: #fd0032;
}

.brand {
  max-width: 1683px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 82px;
}

.brand__header {
  color: #fd0032;
  font-family: "CHbold";
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.88px;
  margin-bottom: 60px;
}

@media screen and (max-width: 575px) {
  .brand__header {
    margin-bottom: 20px;
  }
}

.brand__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brand__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 575px) {
  .brand__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 15px 0;
  }
}

.brand__item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.about {
  padding: 0 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 99px;
}

@media screen and (max-width: 770px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.about__img {
  width: 50%;
}

@media screen and (max-width: 770px) {
  .about__img {
    width: 100%;
  }
}

.about__img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.about__content {
  width: 40%;
  color: #ffffff;
  max-width: 768px;
  height: 335px;
  overflow: hidden;
}

@media screen and (max-width: 770px) {
  .about__content {
    width: 100%;
    margin-top: 20px;
  }
}

.about__title {
  font-family: "CHbold";
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

@media screen and (max-width: 770px) {
  .about__title {
    padding-bottom: 0;
  }
}

.about__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
}

.movies__title {
  color: #ffffff;
  font-family: "CHbold";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 49px;
}

@media screen and (max-width: 990px) {
  .movies__title {
    font-size: 26px;
    margin-bottom: 20px;
  }
}

.movies__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movies__item {
  width: 24%;
}

@media screen and (max-width: 990px) {
  .movies__item {
    width: 49%;
  }
}

@media screen and (max-width: 575px) {
  .movies__item {
    width: 100%;
    padding-bottom: 15px;
  }
}

.movies__frame {
  width: 100%;
  height: 240px;
}

.movies__text {
  margin: 75px 0;
  padding: 0 34px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-align: justify;
}

@media screen and (max-width: 770px) {
  .movies__text {
    padding: 0;
    margin: 55px 0;
  }
}

.mark__title {
  color: #ffffff;
  font-family: "CHbold";
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 45px;
}

@media screen and (max-width: 1230px) {
  .mark__title {
    font-size: 40px;
    margin-top: 20px;
  }
}

.mark__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1230px) {
  .mark__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 575px) {
  .mark__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mark__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

@media screen and (max-width: 1230px) {
  .mark__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 32.33333%;
  }
}

@media screen and (max-width: 575px) {
  .mark__row {
    width: 100%;
  }
}

.mark__item {
  border: 1px solid #fd0032;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  margin-left: 10px;
}

@media screen and (max-width: 1230px) {
  .mark__item {
    width: 100%;
    height: 250px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.mark__item:first-child {
  margin-left: 0;
}

.mark__inner {
  padding: 63px 0 19px;
  text-align: center;
}

@media screen and (max-width: 1230px) {
  .mark__inner {
    padding: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 575px) {
  .mark__inner {
    padding: 0 15px;
  }
}

.mark__image {
  margin-bottom: 65px;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1230px) {
  .mark__image {
    margin: 0;
    padding-bottom: 25px;
  }
}

.mark__info {
  color: #ffffff;
  font-family: "CHbold";
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}

@media screen and (max-width: 575px) {
  .mark__info {
    font-size: 18px;
  }
}

.mark__amount {
  color: #fd0032;
  font-size: 16px;
  font-family: "CHbold";
  font-weight: 700;
  letter-spacing: 0.4px;
}

.mark__about {
  margin: 75px 0;
  padding: 0 34px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-align: justify;
}

@media screen and (max-width: 575px) {
  .mark__about {
    padding: 0;
  }
}

.project {
  width: 100%;
  overflow: hidden;
}

.project a {
  text-decoration: none;
  color: inherit;
}

.project__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

@media screen and (max-width: 770px) {
  .project__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
}

.project__inner {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 770px) {
  .project__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 25px;
  }
}

.project__our {
  color: #ffffff;
  font-family: "CHbold";
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 770px) {
  .project__our {
    font-size: 40px;
  }
}

@media screen and (max-width: 575px) {
  .project__our {
    font-size: 26px;
  }
}

.project__sort {
  height: 31px;
  width: 240px;
  color: #000000;
  background-color: #ffffff;
  font-family: "CHbold";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.81px;
  display: table;
}

@media screen and (max-width: 575px) {
  .project__sort {
    width: 200px;
  }
}

.project__sort-item {
  padding-top: 4px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.project__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  color: #000000;
  font-family: "CHbold";
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.06px;
  padding: 27px 20px;
  text-align: center;
}

@media screen and (max-width: 1230px) {
  .project__category {
    font-size: 18px;
    padding: 18px 20px;
  }
}

@media screen and (max-width: 990px) {
  .project__category {
    font-size: 16px;
  }
}

@media screen and (max-width: 770px) {
  .project__category {
    height: 55px;
    margin: 0 15px;
  }
}

@media screen and (max-width: 575px) {
  .project__category {
    height: 40px;
  }
}

.project__category:hover {
  color: #fff;
}

.project__category:hover::before {
  background-color: #fd0032;
}

.project__category-middle {
  margin: 0 20px;
}

@media screen and (max-width: 770px) {
  .project__category-middle {
    margin: 10px 15px;
  }
}

.project__category.active {
  color: #fff;
}

.project__category.active::before {
  background-color: #fd0032;
}

.project__category::before {
  content: "";
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  border: 0;
  height: 100%;
  z-index: -1;
  -webkit-transform: skewX(35deg);
          transform: skewX(35deg);
}

@media screen and (max-width: 770px) {
  .project__category::before {
    -webkit-transform: none;
            transform: none;
  }
}

.project__category:first-child:before {
  left: -55px;
}

@media screen and (max-width: 770px) {
  .project__category:first-child:before {
    left: 0;
  }
}

.project__category:last-child:before {
  right: -55px;
}

@media screen and (max-width: 770px) {
  .project__category:last-child:before {
    right: 0;
  }
}

.project__content {
  padding-bottom: 76px;
}

@media screen and (max-width: 575px) {
  .project__content {
    padding-bottom: 50px;
  }
}

.project__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.project__item {
  width: 49%;
  position: relative;
  margin-bottom: 3.7%;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  background-color: #000;
}

.project__item:hover .project__img {
  opacity: 0.6;
}

.project__item:hover .project__title,
.project__item:hover .social {
  opacity: 1;
}

.project__img {
  display: block;
  width: 100%;
  height: auto;
}

.project__title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  text-align: center;
  color: #fefefe;
  font-family: "CHbold";
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.06px;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.project__all {
  position: absolute;
  right: -25px;
  bottom: 73px;
  padding: 0 67px;
  line-height: 45px;
  color: #fefefe;
  font-family: "CHmedium";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.project__all:hover::before {
  background-color: #474343;
}

.project__all::before {
  content: "";
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #222222;
  border: 0;
  height: 100%;
  z-index: -1;
  -webkit-transform: skewX(35deg);
          transform: skewX(35deg);
}

.social {
  position: absolute;
  bottom: 16px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.social__item {
  width: 48px;
  line-height: 48px;
  height: 48px;
  border: 1px solid #fff;
  text-align: center;
  font-size: 18px;
  margin-left: 16px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear, border-color 0.2s linear;
  transition: background-color 0.2s linear, border-color 0.2s linear;
}

.social__item:hover {
  background-color: #fd0032;
  border-color: #fd0032;
}

.footer {
  overflow: hidden;
}

.footer__lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__line {
  height: 82px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  position: relative;
  font-size: 0;
  color: transparent;
}

@media screen and (max-width: 990px) {
  .footer__line {
    height: 68px;
  }
}

@media screen and (max-width: 770px) {
  .footer__line {
    height: 55px;
  }
}

.footer__line::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  border: 0;
  height: 100%;
  z-index: -1;
  -webkit-transform: skewX(35deg);
          transform: skewX(35deg);
}

.footer__line:first-child:before {
  left: -55px;
}

.footer__line:last-child:before {
  right: -55px;
}

.footer__line-middle {
  margin: 0 20px;
}

.footer__line-middle::before {
  background-color: #fd0032;
}

@media screen and (max-width: 990px) {
  .footer__line-middle {
    margin: 0 15px;
  }
}

.footer__copyright {
  text-align: center;
  margin: 50px 0;
}

@media screen and (max-width: 770px) {
  .footer__copyright {
    margin: 30px 0;
  }
}

.footer__text {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

@media screen and (max-width: 575px) {
  .footer__text {
    font-size: 14px;
  }
}

.footer__link {
  color: inherit;
  text-decoration: none;
}

/* Components */
#toggle {
  width: 30px;
  height: 30px;
  display: none;
  margin-right: 5px;
}

@media screen and (max-width: 770px) {
  #toggle {
    display: block;
  }
}

#toggle div {
  width: 100%;
  height: 3px;
  background: black;
  margin: 5px auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#toggle.on .one {
  -webkit-transform: rotate(45deg) translate(4px, 5px);
          transform: rotate(45deg) translate(4px, 5px);
}

#toggle.on .two {
  opacity: 0;
}

#toggle.on .three {
  -webkit-transform: rotate(-45deg) translate(6px, -8px);
          transform: rotate(-45deg) translate(6px, -8px);
}

.menu {
  display: none;
  position: fixed;
  opacity: 0.85;
  padding: 0 15px;
  height: 100%;
  width: 100%;
  background-color: #000;
}

.menu__inner {
  padding-top: 20px;
}

.menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu li {
  width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.menu li::after {
  display: none;
}

.menu li:last-child {
  border: none;
}

.menu li a {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

/* Pages */
/* Themes */
/*# sourceMappingURL=main.css.map */